@use "../variable" as *;
/**
 * display: flex;
 */
.flex {
  display: flex;
  &--column,&--c {
    flex-direction: column;
  }
  &-justify-center,&-j-c {
    justify-content: center;
  }
  &-align-content-between {
    align-content: space-between;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-justify-between,
  &-j-b {
    justify-content: space-between;
  }
  &-align-items,
  &-a-i {
    align-items: center;
  }
  &-item {
    flex: 1;
  }
}

  .a-i-flex-start{
    align-items:flex-start !important;
  }
