//main
$mainBg: #ed6d00;
//secendBg 空心按钮浅色背景
$secendBg: #FDF6EC;
//hover
$mainHover: #fa7b0c;
//active
$mainActive: #e06900;
//蓝色
$blueFt: #1980ff;
//disabled样式
$disabledColor:#D4D5D9;

$fontColor: #666; // 字体颜色
$tipColor: #999; // 提示内容字体颜色
$borderColor: #eee; // 边框颜色

$color-success: #10cc8e; //
$color-warning: #E6A23C; //
$color-danger: #e7292e;