<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.app.mapper.AppSubjectContentVideoMapper">

  <resultMap id="appSubjectContentVideoMap" type="com.tce.smart.app.entity.AppSubjectContentVideo">
                  <id property="id" column="id"/>
                        <result property="subjectId" column="subject_id"/>
                        <result property="contentVideoId" column="content_video_id"/>
            </resultMap>
</mapper>
