<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.app.mapper.AppSubjectContentTextMapper">

  <resultMap id="appSubjectContentTextMap" type="com.tce.smart.app.entity.AppSubjectContentText">
                  <id property="id" column="id"/>
                        <result property="subjectId" column="subject_id"/>
                        <result property="contentTextId" column="content_text_id"/>
            </resultMap>
    <insert id="addSubjectContentText">
        INSERT INTO APP_SUBJECT_CONTENT_TEXT VALUES (#{id},#{subjectId},#{contentTextId})
    </insert>

	<select id="getTextById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select content_text_id from APP_SUBJECT_CONTENT_TEXT a where
		<if test="query != null and query != ''">
			a.subject_id = #{query}
		</if>
	</select>


</mapper>
