<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tce.smart.temporary.core.mapper.EbgFamilyRegisterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tce.smart.temporary.core.entity.EbgFamilyRegister">
        <id column="id" property="id" />
        <result column="seqid" property="seqid" />
        <result column="fname" property="fname" />
        <result column="relation" property="relation" />
        <result column="gender" property="gender" />
        <result column="Birthday" property="Birthday" />
        <result column="Company" property="Company" />
        <result column="Job" property="Job" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, seqid, fname, relation, gender, Birthday, Company, Job, status, remark
    </sql>

</mapper>
