<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tce.smart.temporary.core.mapper.EbgWorkingRegisterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tce.smart.temporary.core.entity.EbgWorkingRegister">
        <id column="id" property="id" />
        <result column="seqID" property="seqID" />
        <result column="begindate" property="begindate" />
        <result column="enddate" property="enddate" />
        <result column="company" property="company" />
        <result column="job" property="job" />
        <result column="workplace" property="workplace" />
        <result column="Reference" property="Reference" />
        <result column="Tel" property="Tel" />
        <result column="isout" property="isout" />
        <result column="remark" property="remark" />
        <result column="Type" property="Type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, seqID, begindate, enddate, company, job, workplace, Reference, Tel, isout, remark, Type
    </sql>

</mapper>
