$mainname: "tce";

$theme-color: #ec6c00;
$font-size: 12px;
$border-radius: 3px;
$btn-height: 45px;
$color-base: #ec6c00; // 基础色 橙
$color-primary: #ec6c00; // 常规色 橙
$color-success: #10cc8e; // 正常色 绿
$color-info: #909399; // 提示色 灰色
$color-warning: #ec6c00; // 警告色  橙色
$color-danger: #e7292e; // 严重色 红色
$color-placing: #c0c0c0; // 灰色
$input-fill: #fff; // input fill色
$border-base-color: #eeeeee; // 边框基本色
