<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.SmtAskLeaveApplicationMapper">

	<resultMap id="smtAskLeaveApplicationMap" type="com.tce.smart.platform.core.entity.SmtAskLeaveApplication">
		<id property="id" column="id"/>
		<result property="staffId" column="staff_id"/>
		<result property="staffBadge" column="staff_badge"/>
		<result property="staffName" column="staff_name"/>
		<result property="startTime" column="start_time"/>
		<result property="endTime" column="end_time"/>
		<result property="type" column="type"/>
		<result property="duration" column="duration"/>
		<result property="cause" column="cause"/>
		<result property="processid" column="processId"/>
		<result property="createtime" column="createTime"/>
	</resultMap>

	<select id="getAskLeavePage" parameterType="com.tce.smart.platform.core.entity.SmtAskLeaveApplication"
			resultType="com.tce.smart.platform.core.vo.SearchAskLeaveApplicationVO">
		SELECT
		A .ID AS RECORDID,
		A .STAFF_NAME,
		A .START_TIME AS STARTDATE,
		A .END_TIME AS ENDDATE,
		A .CREATE_TIME AS RECORDDATE,
		A .PROCESS_ID,
		A .DURATION AS VACATECOUNT,
		A .TYPE,
		A .CREATE_TIME
		FROM
		SMT_ASK_LEAVE_APPLICATION A
		<where>
			<if test="query.staffBadge!=null and query.staffBadge!=''">
				A.STAFF_BADGE =#{query.staffBadge}
			</if>
		</where>
		ORDER BY A.CREATE_TIME DESC
	</select>

	<select id="getAskLeavePageList" parameterType="com.tce.smart.platform.core.dto.SearchLeaveDTO"
			resultType="com.tce.smart.platform.core.vo.SearchAskLeaveApplicationVO">
		SELECT
		A .ID AS RECORDID,
		A .STAFF_BADGE,
		A .STAFF_NAME,
		STAFF.COMP_NAME,
		STAFF.DEP_NAME,
		STAFF.JOB_NAME,
		A .START_TIME AS STARTDATE,
		A .END_TIME AS ENDDATE,
		A .CREATE_TIME AS RECORDDATE,
		A .PROCESS_ID,
		A .DURATION AS VACATECOUNT,
		A .TYPE,
		A .CAUSE,
		A .CREATE_TIME
		FROM
		SMT_ASK_LEAVE_APPLICATION A
		INNER JOIN SMT_STAFF STAFF ON A.STAFF_BADGE=STAFF.BADGE
		<where>
			<if test="query.staffBadge!=null and query.staffBadge!=''">
				A.STAFF_BADGE LIKE CONCAT(CONCAT('%',#{query.staffBadge}),'%')
			</if>
			<if test="query.staffName!=null and query.staffName!=''">
				AND A.STAFF_NAME LIKE CONCAT(CONCAT('%',#{query.staffName}),'%')
			</if>
			<if test="query.startTime != null and query.endTime != '' and query.endTime != null and query.startTime != ''">
				AND A.CREATE_TIME between to_date(#{query.startTime},'yyyy-mm-dd hh24:mi:ss') and
				to_date(#{query.endTime},'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="query.parkIds != null and query.parkIds.size > 0">
				AND STAFF.COMP_ID IN (
				SELECT DISTINCT SPB.COMP_ID from SMT_PARK_BU SPB
				<where>
					SPB.PARK_ID IN
					<foreach collection="query.parkIds" item="id" index="index" open="(" close=")" separator=",">
						#{id}
					</foreach>
				</where>
				)
			</if>
		</where>
		ORDER BY A.CREATE_TIME DESC
	</select>


	<select id="selectBreakoffApplication" parameterType="com.tce.smart.platform.core.entity.SmtBreakoffApplication"
			resultType="com.tce.smart.platform.core.entity.SmtBreakoffApplication">

		select * from SMT_BREAKOFF_APPLICATION

		where STAFF_BADGE=#{query.staffBadge}

		<if test="query.type!=null and query.type!=1">
			and type =#{query.type}
		</if>

		and REST_TIME=#{query.restTime}

	</select>
</mapper>
