<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.mapper.SmtBadgeConfigMapper">

  <resultMap id="smtBadgeConfigMap" type="com.tce.smart.platform.core.entity.badge.SmtBadgeConfig">
                  <id property="id" column="ID"/>
                        <result property="price" column="PRICE"/>
                        <result property="parkId" column="PARK_ID"/>
                        <result property="parkName" column="PARK_NAME"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="createrId" column="CREATER_ID"/>
                        <result property="blank" column="BLANK"/>
            </resultMap>
</mapper>
