<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.SmtDormitoryLevelMapper">

  <resultMap id="smtDormitoryLevelMap" type="com.tce.smart.platform.core.entity.SmtDormitoryLevel">
                  <id property="id" column="id"/>
                        <result property="jcheId" column="jche_id"/>
                        <result property="dormitoryTypeId" column="dormitory_type_id"/>
            </resultMap>
</mapper>
