<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.SmtDormitoryConfigMapper">

  <resultMap id="smtDormitoryConfigMap" type="com.tce.smart.platform.core.entity.dormitoryconfig.SmtDormitoryConfig">
                  <id property="id" column="ID"/>
                        <result property="parkId" column="PARK_ID"/>
                        <result property="parkName" column="PARK_NAME"/>
                        <result property="relationBus" column="RELATION_BUS"/>
                        <result property="createTime" column="CREATE_TIME"/>
            </resultMap>
</mapper>
