<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.SmtDormitoryFloorMapper">

  <resultMap id="smtDormitoryFloorMap" type="com.tce.smart.platform.core.entity.SmtDormitoryFloor">
                  <id property="id" column="id"/>
                        <result property="dormitoryId" column="dormitory_id"/>
                        <result property="floorName" column="floor_name"/>
                        <result property="roomNum" column="room_num"/>
                        <result property="isDormitoryFloor" column="is_dormitory_floor"/>
                        <result property="parkId" column="park_id"/>
            </resultMap>

              <resultMap id="smtDormitoryFloorPage" type="com.tce.smart.platform.core.vo.FloorVO">
                  <id property="id" column="id"/>
                        <result property="dormitoryId" column="dormitory_id"/>
                         <result property="dormitoryName" column="dormitory_name"/>
                        <result property="floorName" column="floor_name"/>
                        <result property="roomNum" column="room_num"/>
                        <result property="isDormitoryFloor" column="is_dormitory_floor"/>
                        <result property="parkId" column="park_id"/>
                        <result property="parkName" column="PARK_NAME"/>
            </resultMap>


     <select id="queryFloor" parameterType="java.lang.Integer" resultMap="smtDormitoryFloorMap">

     SELECT * FROM SMT_DORMITORY_FLOOR

     WHERE DORMITORY_ID=#{dormitoryId}
     ORDER BY FLOOR_NAME
     </select>

     <select id="getSmtDormitoryFloorPage" parameterType="com.tce.smart.platform.core.entity.SmtDormitoryFloor" resultMap="smtDormitoryFloorPage">

		SELECT FLO.ID,DORMITORY_ID,DORMITORY_NAME,FLOOR_NAME,ROOM_NUM,
		IS_DORMITORY_FLOOR,FLO.PARK_ID,PARK.PARK_NAME
	FROM SMT_DORMITORY_FLOOR FLO
	INNER JOIN  SMT_DORMITORY DOR
	ON FLO.DORMITORY_ID=DOR.ID
	INNER JOIN SMT_PARK PARK
	ON PARK.ID=FLO.PARK_ID
	<where>
		<if test="query.dormitoryId != null and  query.dormitoryId !=''">
				AND DORMITORY_ID=#{query.dormitoryId}
			</if>

			<if test="query.parkId != null and  query.parkId !=''">
				AND FLO.PARK_ID=#{query.parkId}
			</if>
			<if test="park!=null and park.size>0">
			and FLO.PARK_ID in
			<foreach item="item" index="index" collection="park" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</where>

	ORDER BY DORMITORY_ID,FLOOR_NAME

     </select>

     <select id="selectMaxFloor" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	select max(FLOOR_NAME) from SMT_DORMITORY_FLOOR
		where DORMITORY_ID=#{dormitoryId}
     </select>
</mapper>
