<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.SmtFaceImgTaskDetailsMapper">

  <resultMap id="smtFaceImgTaskDetailsMap" type="com.tce.smart.platform.core.entity.SmtFaceImgTaskDetails">
                  <id property="id" column="ID"/>
                        <result property="imgName" column="IMG_NAME"/>
                        <result property="imgCode" column="IMG_CODE"/>
                        <result property="status" column="STATUS"/>
                        <result property="remark" column="REMARK"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="taskId" column="TASK_ID"/>
            </resultMap>
</mapper>
