<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.SmtFellowVisitorMapper">

  <resultMap id="smtFellowVisitorMap" type="com.tce.smart.platform.core.entity.SmtFellowVisitor">
                  <id property="id" column="id"/>
                        <result property="fellowName" column="fellow_name"/>
                        <result property="fellowPhotoId" column="fellow_photo_id"/>
                        <result property="visitorId" column="visitor_id"/>
            </resultMap>


        <select id="selectListByVisitorId" parameterType="com.tce.smart.platform.core.entity.SmtVisitor" resultType="com.tce.smart.platform.core.vo.GetSmtFellowVisitorVO">
			SELECT v.id, v.fellow_name,v.fellow_photo_id, V.CERT_TYPE, V.CERT_NO, V.CERT_PIC FROM smt_fellow_visitor v WHERE 1=1
	        <if test="query.id !=null and query.id!=''" >
	         and  v.visitor_id =#{query.id}
	       </if>
	  </select>
</mapper>
