<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.SmtOaAreaRelationMapper">

  <resultMap id="smtOaAreaRelationMap" type="com.tce.smart.platform.core.entity.securityzone.SmtOaAreaRelation">
                  <id property="id" column="ID"/>
                        <result property="oaAreaName" column="OA_AREA_NAME"/>
                        <result property="oaAreaId" column="OA_AREA_ID"/>
                        <result property="parkId" column="PARK_ID"/>
                        <result property="createTime" column="CREATE_TIME"/>
            </resultMap>
</mapper>
