<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.SmtParkLogisticsMapper">

  <resultMap id="smtPakLogisticsMap" type="com.tce.smart.platform.core.entity.SmtParkLogistics">
                  <id property="id" column="id"/>
                        <result property="parkId" column="park_id"/>
                        <result property="companyId" column="company_id"/>
                        <result property="createTime" column="create_time"/>
            </resultMap>
</mapper>
