<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.SmtSecurityApplyPersonMapper">

  <resultMap id="smtSecurityApplyPersonMap" type="com.tce.smart.platform.core.entity.securityzone.SmtSecurityApplyPerson">
                  <id property="id" column="ID"/>
                        <result property="badge" column="BADGE"/>
                        <result property="staffId" column="STAFF_ID"/>
                        <result property="staffName" column="STAFF_NAME"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="areaId" column="AREA_ID"/>
                        <result property="areaName" column="AREA_NAME"/>
                        <result property="areaDetails" column="AREA_DETAILS"/>
                        <result property="applyId" column="APPLY_ID"/>
            </resultMap>
</mapper>
