<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.SmtStaffFamilyMapper">

    <resultMap id="smtSmtStaffFamilyMap" type="com.tce.smart.platform.core.entity.SmtStaffFamily">
        <id property="id" column="id"/>
        <result property="relation" column="relation"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="staff_id" column="staffId"/>
        <result property="birth" column="birth"/>
        <result property="company" column="company"/>
        <result property="job" column="job"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <!--获取最新添加的一位员工 -->
    <select id="selectByStaffId"  resultMap="smtSmtStaffFamilyMap" parameterType="java.lang.String">
        select * from  smt_staff_family
        where STAFF_ID=#{staffId};
    </select>


</mapper>
