<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tce.smart.platform.core.mapper.watermeter.SmtWaterMeterMapper">

	<select id="getPage" resultType="com.tce.smart.platform.core.vo.SmtWaterMeterVO">
		SELECT
			SWM.ID id,
			SWM.NAME name,
			SWM.SEQ seq,
			SWM.CONCENTRATOR_ID concentratorId,
			SWMC.IP ip,
			SWMC.PORT port,
			SWMC.PARK_ID parkId
		FROM
			SMT_WATER_METER SWM
			LEFT JOIN SMT_WATER_METER_CONCENTRATOR SWMC ON SWMC.ID = SWM.CONCENTRATOR_ID
		WHERE
			SWM.IS_DELETE = 0
			AND SWMC.IP IS NOT NULL
	</select>

</mapper>
