<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tce.smart.ehrview.core.mapper.EvwBizLregleaveMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.tce.smart.ehrview.core.entity.EvwBizLregleave">
		<result column="BADGE" property="BADGE" />
		<result column="DEPID" property="DEPID" />
		<result column="NAME" property="NAME" />
		<result column="TWID" property="TWID" />
		<result column="BeginTime" property="BeginTime" />
		<result column="EndTime" property="EndTime" />
		<result column="Amount" property="Amount" />
		<result column="Unit" property="Unit" />
		<result column="DayoffReason" property="DayoffReason" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
        BADGE, NAME, TWID, DEPID, BeginTime, EndTime,  Amount, Unit, DayoffReason
    </sql>

	<select id="list" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"></include>
		FROM evw_LRegLeave_all
		WHERE evw_LRegLeave_all.BADGE = #{badge, jdbcType = VARCHAR}
		<if test="queryMonth != null and queryMonth != ''">
			AND CONVERT(VarChar(7), evw_LRegLeave_all.BeginTime, 120) = #{ queryMonth, jdbcType = VARCHAR }
		</if>
		ORDER BY evw_LRegLeave_all.BeginTime
	</select>
</mapper>
