<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tce.smart.ehrview.core.mapper.OvwYsdepMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tce.smart.ehrview.core.entity.OvwYsdep">
        <result column="depid" property="depid" />
        <result column="depname" property="depname" />
        <result column="DepAbbr" property="DepAbbr" />
        <result column="CompID" property="CompID" />
        <result column="director" property="director" />
        <result column="DirecName" property="DirecName" />
        <result column="DepGrade" property="DepGrade" />
        <result column="DisabledDate" property="DisabledDate" />
        <result column="adminID" property="adminID" />
        <result column="DepCost" property="DepCost" />
        <result column="timestamp" property="timestamp" />
        <result column="ASzstatus" property="ASzstatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        depid, depname, DepAbbr, CompID, director, DirecName, DepGrade, DisabledDate, adminID, DepCost, timestamp, ASzstatus
    </sql>

</mapper>
